html, body{
  margin:0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
}
.container{
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 40px auto 40px;
  justify-content: center;
  align-content: center;
}

.title{
  background-color: #96ceb4;
  border: 1px solid black;
  grid-column: 2;
  grid-row: 1;
}
.introduction{
  background-color: #ff6f69;
  grid-column: 2;
  grid-row: 2;
}
.socialMedia{
  background-color: #ffcc5c;
  grid-column:2;
  grid-row:3;
}
